@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

:root{
    --clr-dark900:#2E323F;
    --clr-dark700:#3B4050;
    --clr-dark200:#6F737F;
    --clr-white:#FFFFFF;
    --clr-brownish:#A59678;

    --ff-primary:'Oswald', sans-serif;
    --ff-accent:'Montserrat', sans-serif;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.nav {
    width: 100%;
}

.logo{
    height:30px;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: var(--clr-brownish);
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.hero__text{
    color:var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 3.5rem;
    line-height: 1.1em;
}

.hero__text a{
    color:var(--clr-brownish);
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.hero{
    background-color: var(--clr-dark700);
    padding: 4em 0;
}

.herotxt p{
    font-family: var(--ff-accent);
    color:var(--clr-white);
    margin-top: 2em;
}

.hero__btn{
    background-color: var(--clr-brownish);
    padding: 0.5em 3em;
    display:inline-block;
    border-radius: 50px;
    font-family: var(--ff-primary);
    color:var(--clr-white);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 90ms ease;
}

.hero__btn:hover{
    opacity: 80%;
}

.mid{
    background-color: #f3f3f3;
    padding: 2em 0;
}

.mid div h2{
    font-family: var(--ff-primary);
    font-size: 1.35em;
    color:var(--clr-brownish)
}

.mid div p{
    font-family: var(--ff-accent);
    font-size: 0.9rem;
}

.midtwo{
    padding: 4rem 0;
}

.left h2{
    font-family: var(--ff-primary);
    font-size: 1.35em;
    color:var(--clr-brownish)
}

.left p{
    font-family: var(--ff-accent);
    font-size: 1rem;
}

.left{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
}

.right{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.right div{
    background-color: var(--clr-dark700);
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

.right h2{
    color:var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 1.5em;
}

.right p{
    color:var(--clr-white);
    font-family: var(--ff-accent);
}

.footer .text-center{
    text-align: center;
    font-family: var(--ff-primary);
    color: var(--clr-white);
    font-size:1.8em;
}

.footer{
    background-color: var(--clr-dark900);
    padding: 1em;
}

.mainfoot h3{
    font-family: var(--ff-primary);
    color: var(--clr-brownish)
}

.mainfoot p{
    font-family: var(--ff-accent);
    color:var(--clr-white);
    font-size: 0.8rem;
}

.footul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footul h3{
    font-family: var(--ff-primary);
    color: var(--clr-brownish)
}

.footul a{
    font-family: var(--ff-accent);
    color:var(--clr-white);
    font-size: 0.8rem;
    display:block;
    cursor: pointer;
    transition: 90ms ease;
}

.footli a:hover{
    opacity: 80%;
}

.footul .footli + .footli{
    margin-top: 1em;
}

header{
    padding: 1em 0;
    background-color: var(--clr-dark900);
    text-align: center;
    display: flex;
}

.logo{
    display:block;
    margin-top: 0.3em;
}

.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link{
    color:var(--clr-white);
    text-decoration: none;
    font-family: var(--ff-primary);
    text-transform: uppercase;
}

.nav__link--button{
    background-color: var(--clr-brownish);
    padding: 0.18em 1em;
    border-radius: 50px;
}


.nav__item{
    margin-top: 1em;
}

.nav__list--primary{
    margin-bottom: 2em;
}

@media (min-width: 700px) {
    .right{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items:stretch;
    }

    .right div + div{
        margin-left: 1em;
    }
    
    .footer .row{
        display:flex;
        flex-direction: column;
    }

    .top .mainfoot{
        width: 60%;
    }

    .top{
        display: flex;
        justify-content: space-between;
    }

    .bottom{
        display:flex;
        justify-content: space-between;
    }

    .bottom .footul{
        width: 100%;
        margin: 0;
    }
    
    .footer{
        padding-bottom: 4em;
    }
}


    @media (min-width:1000px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .nav__list{
        display:flex;
    }

    .nav__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .nav__link{
        color:var(--clr-white);
        text-decoration: none;
        font-family: var(--ff-primary);
    }
    
    
    .nav__item{
        margin-top: 0;
        margin-left: 1em;
        transition: 90ms ease;
    }

    .nav__link--button{
        transition: 90ms ease;
    }

    .nav__link:hover{
        opacity: 80%;
    }
    
    .nav__list--primary{
        margin-bottom: 0;
        margin-left: 1em;
    }

    .hero{
        padding: 8em 0;
    }

    .hero__text{
        font-size: 4.3em;
        align-self: flex-start;
        width: 70%;
    }

    .herotxt{
        align-self: flex-end;
        width: 80%;
        font-size: 1.4em;
        margin-left: 0.8em;
    }

    .hero .row{
        justify-content: space-between;
    }

    .text-center{
        text-align: center;
    }
    
    .mid div + div{
        margin-left: 2em;
    }

    .midtwo .left h2{
        font-size: 2em;
    }
    .right{
        display: flex;
        flex-direction: column;
        width: 28%;
        flex-basis: auto;
        margin-left: 5em;
    }

    .right div + div{
        margin-left:0;
    }

    .left{
        display: flex;
        flex-direction: column;
        width: 62%;
        flex-basis: auto;
    }

    .mid .row{
        flex-direction: row;
        justify-content: space-between;
        padding: 3em;

    }
    
    .midtwo img{
        margin-block: 1em;
    }

    .footer .row{
        display: flex;
        flex-direction: row;
    }

    .top{
        width: 80%;
    }

    .mainfoot{
        width: 100%;
        flex-basis: 80%;
    }

    .top p {
        font-size: 1em;
    }
    .bottom{
        display:flex;
        flex-direction: row;
        width: 100%;
    }

    .top .mainfoot{
        width: 60%;
    }
    
    .footer{
        padding: 5em 0;
    }
}
